/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}*/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 40%;
    margin: auto;
    position: relative;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
	margin-top: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="email"], input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
	margin-top: 1px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.privacy-policy {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

.recaptcha-text {
    font-size: 12px;
    color: #666;
}

.illustrations {
	position: relative;
	height: 100vh; /* Đặt chiều cao để đảm bảo div bao phủ toàn màn hình */
  }
  
  .illustration-left {
	position: fixed;
	bottom: 0;
	left: 0;
	max-width: 250px; /* Đặt kích thước tối đa cho hình ảnh, bạn có thể tùy chỉnh */
	max-height: 500px;
	margin: 10px; /* Đặt khoảng cách từ mép màn hình */
  }
  
  .illustration-right {
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 250px; /* Đặt kích thước tối đa cho hình ảnh, bạn có thể tùy chỉnh */
	max-height: 500px;
	margin: 10px; /* Đặt khoảng cách từ mép màn hình */
  }
  